[user]
	name = Yamamoto Yusuke
	email = y.yamamoto88@gmail.com
[color]
	status = auto
	diff = auto
	interactive = auto
	grep = auto
	ui = true
[core]
	excludesfile = /opt/boxen/config/git/gitignore
	editor = vim
[alias]
	s = status
	st = status
	ss = status -s
	sh = show
	so = remote show origin
	po = push origin
  # commit
  ad  = add
  c   = commit
  ci  = commit -a
  cam = commit -a --amend
  co  = checkout
  cb  = checkout -b
  # branch
  br  = branch
  ba  = branch -a
  # log
  hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
[credential]
	helper = /opt/boxen/bin/boxen-git-credential

[hub]
protocol = https
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
